.item__image {
  position: absolute;
  left: -10%;
  top: -15%;
  width: 110px;
  height: 110px;
}

.item__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.item {
  position: relative;
  display: flex;
  width: 270px;
}

.item__info {
  padding-left: 28%;
}
