ul {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  margin-bottom: 30px;
  gap: 15px;
}

li {
  list-style: none;
}

li a {
  padding: 16px;
  background-color: #ebeaea;
  border-radius: 20px;
}
